.contact {
  padding: 5.375rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.information {
  position: relative;
  text-align: center;
}

.formWrapper {
  position: relative;
}

.description {
  font: var(--description-mobile);
  color: var(--tertiary);
}

/* form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  position: absolute;
  top: 0;

  transition: all 0.2s ease-out;
  transform: translateY(16px);
  opacity: 0;

  font-size: 0.8rem;
  padding: 0 1rem;
}

.input {
  padding: 1rem 1rem;
  font-family: "wotfard";
  font-size: 1rem;
  border: 2px solid var(--tertiary);
  border-radius: 4px;
  background-color: var(--primary);
  opacity: 1;
}

/* validate if has text */
.input:not(:placeholder-shown) {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.input:not(:placeholder-shown) + .label {
  opacity: 1;
  transform: translateY(8px);
}

.button {
  background-color: var(--button);
  font: var(--button-text);
  color: #fff;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 4px;
}

.buttonLoading {
  background-color: var(--button);
  font: var(--button-text);
  color: #fff;
  cursor: not-allowed;
  padding: 0.8rem 1rem;
  border-radius: 4px;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .information {
    text-align: left;
    max-width: 400px;
  }

  .form {
    max-width: 700px;
  }
  .formWrapper {
    padding-top: 100px;
    padding-right: 100px;
    flex: 0.6;
  }

  .description {
    font: var(--description-desktop);
  }
}
