.technologies {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  place-items: baseline center;
  gap: 1rem;
}

.logo {
  margin: 0;
  text-align: center;
}

.logoName {
  color: var(--tertiary);
}

.opacity {
  opacity: 0.2;
}

@media (min-width: 768px) {
  .technologies {
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    gap: 2rem;
  }
}
